/dist/*
.local
.output.js
/node_modules/**

**/*.svg

**/*.sh

/public/*

/assets/*
.editorconfig
.eslintignore
.prettierrc
env.d.ts
从0到1创建react-ts.md
tsconfig.json
package-lock.json
package.json
.eslintrc.js
commitlint.config.js
vite.config.ts
README.en.md
README.md
tsconfig.node.json
